<html layout:decorator="layout/base">
	<section layout:fragment="content">		
	
		<a th:href="@{/logout}">sign out</a>
		
		<h1>Posts:</h1>		    	
		
			<table  th:if="${! #sets.isEmpty(posts)}">
				<tr><th>email</th></tr>
				<tr th:each="p : ${posts}">
					<td th:text="${p.title}">Title</td>
					<td th:text="${p.created}">Title</td>
					<td th:text="${p.content}">Content</td>
					
					<td><a th:href="@{/image/form/{id}(id=${p.id})}">change background</a></td>
					<td><a th:href="@{/user/edit_post/{id}(id=${p.id})}">edit content</a></td>
					<td><a th:href="@{/user/preview_post/{id}(id=${p.id})}">preview</a></td>
				</tr>
			</table>
		
		<h1>new post</h1>
		
			<form  	action="#" 
					th:action="@{/user/create_post}"  
					th:object="${new_post}"
					enctype="multipart/form-data" 	 
					method="post">
				
				<input type="text" th:field="*{title}"  	 	placeholder="title" />
				<input type="text" th:field="*{content}"  	 	placeholder="content" />
				<input type="file" name="file" />	
				
				<input type="submit" value="Submit" />
			</form>
				
	</section>
</html>