<html layout:decorator="layout/base">
	<section layout:fragment="content">	
		
			<h1>Change password</h1>
			
    			<div class="">
    			
	    			<p>You will be signed out to test your new password.</p> 
    
					<form class="form-horizontal" action="#" th:action="@{/change_password}" th:object="${request}" method="post">	
  					    
						<label>Old password</label>
						<input type="password" name="old" />
					
						<label>New password</label>	
						<input type="password" name="new1" />
									
						<label>Confirm new password</label>
						<input type="password" name="new2" />	  
				
						<input class="btn green"  type="submit" value="change" />
						<a class="btn red" th:href="@{/route}">cancel</a>
				        
				    </form>
			 </div>
    </section>
</html>